<div class= "home-container" class="row">

    <h1>Recipe Wrangler</h1>

    <div class="search-box">
      <%= form_tag("/", method: "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("search") %>
      <% end %>
    </div>


  <div class = "recipe-list">
    <% if !params[:q].blank? && !@recipes.empty?%>
    <ul>
      <%@recipes.each do |recipe|%>
        <li class = "small-12 medium-4 column">
          <%=link_to(image_tag(recipe.image), show_one_path(recipe.uri))%>
          <p><%=link_to(recipe.label, show_one_path(recipe.uri))%></p>
          <p></p>
        </li>
        <%end%>
    </ul>

        <div class="pagination text-center", class="medium-12 column">
            <%= paginate @recipes%>
        </div>

    <%end%>

    <% if !params[:q].blank? && @recipes.empty?%>
      <p>
        Sorry, there are no recipes matching that search term. Try again.
      </p>
    <%end%>
  </div>


</div>
