<h1>This page will show the search bar and results in lists of 10.</h1>


<%= form_tag("/", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%=@recipes%>

  <%@recipes.each do |recipe|%>
  <%= recipe.label %>
  <%end%>
<p>Find me in app/views/recipes/index.html.erb</p>
