<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= yield(:search) %>
    </header>
    <%= yield %>
    <footer>
      <p>
        &copy; Erin Bond 2016
      </p>
    </footer>
  </body>
</html>
